.form-container {
  width: 100%;
}

.client-selector {
  text-align: center;
  margin-bottom: 2.6em;
}
.client-selector > button:not(.selected) {
  opacity: .66;
}
.public.form {
  padding-bottom: 1.16em;
  border-bottom: var(--border1-18);
  margin-bottom: 1.36em;
}
.conn-type {
  position: relative;
}
.conn-type .ppz-radio-group + span {
  position: absolute;
  top: 5%;
  left: 80%;
  right: -100%;
  font-size: .9em;
  opacity: .9;
}

.useUrl ul {
  padding: .2em 3em;
}