dialog {
  padding: 0;
  color: var(--true-color1);
  background: rgba(var(--color0), .95);
  border-radius: .8em;
  border: var(--border1-08);
  outline: none;
  max-width: 38em;
}

dialog > .close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.6em 1em;
  line-height: 1em;
  opacity: .8;
  cursor: pointer;
}
dialog > .close:hover {
  opacity: .9;
}
dialog > .close:active {
  opacity: 1;
}

dialog > .modal {
  position: fixed;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(var(--color0), .5);
  animation: fadeIn .3s ease;
}

dialog > .title {
  padding: .9em 1.8em .7em;
  font-size: .95em;
  font-weight: bold;
  opacity: .9;
  text-align: center;
  border-bottom: var(--border1-18);
}
dialog > .body {
  padding: .8em 1.8em;
}
dialog > .btns {
  padding: .8em 1.8em 1em;
  text-align: center;
  border-top: var(--border1-18);
}
dialog > .btns button {
  margin: 0 .3em;
}