.flex-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-container form {
  max-width: 50rem;
  padding: 1rem 2rem;
}

.flex-container fieldset {
  margin-bottom: 2rem;
}
.flex-container .btn-group {
  text-align: right;  
}
.flex-container .btn-group button {
  margin-left: 1rem;
}