/* .form */
.form {
  margin: 0 3.8em;
}

.form-btns {
  margin-top: 3.8em;
}
.form-btns button:not(:first-child) {
  margin-left: 1.2em;
}

.form > label {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  
  min-width: 18em;
  margin: .5em 1em;
}
.form > .required span:first-child:before {
  content: '* ';
}

.form > label > .ppz-input {
  margin-left: 1em;
  width: 12em;
}
