/* .form */
.form {
  max-width: 666px;
  margin: 0 auto;
}

.form-btns {
  margin-top: 3.8em;
}
.form-btns button:not(:first-child) {
  margin-left: 1.2em;
}

.form > label {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  
  line-height: 2em;
  min-width: 22em;
  margin: .8em 1.5em;
}
.form > .required span:first-child:before {
  content: '* ';
}

.form > label > .ppz-input, .form > label > .ppz-radio-group {
  margin-left: 1em;
  width: 16em;
}
