/* .form */
.form {
  margin: 0 3.8em;
}

.form-btns {
  margin-top: 3.8em;
}
.form-btns button:not(:first-child) {
  margin-left: 1.2rem;
}

.form > label {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  
  width: 18rem;
  margin: .5rem 1rem;
}
.form > .required span:first-child:before {
  content: '* ';
}

.form > label > input {
  margin-left: 1rem;
  width: 10rem;
}
