@import url('./form.css');
@import url('../../../node_modules/@ppzp/noty/content/index.css');

html, body {
  margin: 0;
  padding: 0;
}
body {
  --that-color: #77777777;
  --that-color2: #77777718;
  --border: 1px solid var(--that-color);
  --border2: 1px solid var(--that-color2);
  --border-focus: 1px solid var(--vscode-focusBorder);
  --border-radius: .25rem;
  --box-shadow: 0 0 8px 2px rgb(0 0 0 / 18%);
  line-height: 1;
}

button {
  outline: none;
  border: none;
  background-color: var(--vscode-button-background);
  color: var(--vscode-button-foreground);
  
  display: inline-block;
  height: 2em;
  width: 6rem;
}
button:hover {
  background-color: var(--vscode-button-hoverBackground);
}

.flex-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/** iconfont **/
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}