@import url('./flex-container.css');
@import url('./checkbox.css');

html, body {
  margin: 0;
  padding: 0;
}
body {
  --that-color: #77777777;
  --that-color2: #77777718;
  --border: 1px solid var(--that-color);
  --border-focus: 1px solid var(--vscode-focusBorder);
  --border-radius: .25rem;
  --box-shadow: 0 0 8px 2px rgb(0 0 0 / 18%);
  line-height: 1;
}

form input {
  background: var(--vscode-input-background);
  border: 1px solid #00000000;
  color: var(--vscode-foreground);
  height: 2em;
  padding: 0 .6em;
  outline: none !important;
}
form input:focus {
  border: var(--border-focus);
}

fieldset {
  border: var(--border);
  margin: 0;
  padding: 1rem 1rem 1.6rem;
}

fieldset legend {
  padding: 0 .3rem;
}

form label {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  
  width: 20rem;
  margin: .5rem 1rem;
}

form label input {
  margin-left: 1rem;
  width: 10rem;
}

button {
  outline: none;
  border: none;
  background-color: var(--vscode-button-background);
  color: var(--vscode-button-foreground);
  
  display: inline-block;
  height: 2em;
  width: 6rem;
}
button:hover {
  background-color: var(--vscode-button-hoverBackground);
}

/** iconfont **/
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}