body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  --padding-h: .88em;
}

header .operations {
  padding: 0 var(--padding-h);

  background: var(--vscode-button-background);
  display: flex;
  justify-content: space-between;
  color: var(--vscode-button-foreground);
}

.operations dialog .body {
  padding: 1.5em .6em .6em 2em;
}
.operations dialog .ppz-checkbox {
  margin-right: 1.2em;
  margin-bottom: .68em;
}

dialog.sql .body {
  padding: 1em 2em;
  line-height: 1.5;
}

.table-wrapper {
  flex: 1;
  overflow: auto;
}