body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  --padding-h: .88em;
}

header .operations {
  padding: 0 var(--padding-h);

  background: var(--vscode-button-background);
  display: flex;
  justify-content: space-between;
  color: var(--vscode-button-foreground);
}

dialog .body {
  min-height: 13em;
}

.operations dialog.field .body {
  padding: 1.5em .6em .6em 2em;
}
.operations dialog .ppz-checkbox {
  margin-right: 2em;
  margin-bottom: 1em;
}

dialog.sql .body {
  padding: 1em 2em;
  line-height: 2;
  display: flex;
  flex-direction: column;
}
dialog.sql .body p {
  margin: 0;
  flex: 1;
}

.table-wrapper {
  flex: 1;
  overflow: auto;
}