<div id="vue-app">
  <header>
    <ppz-nav></ppz-nav>
    <div class="operations">
      <div class="btns">
        <icon-btn iid="light" @click="putData" title="刷新"></icon-btn>
        <icon-btn iid="filter" @click="$refs.fieldSelector.showModal()" title="字段选择"></icon-btn>
        <dialog class="middle" ref="fieldSelector">
          <div class="modal"></div>
          <div class="title">字段选择</div>
          <div class="body">
            <ppz-checkbox v-for="f in fields" v-model="f.show" :label="f.name"></ppz-checkbox>
          </div>
          <div class="btns">
            <button @click="$refs.fieldSelector.close()">关闭</button>
          </div>
        </dialog>
        <icon-btn iid="add" @click="newRecord()" title="插入"></icon-btn>
        <icon-btn iid="copy" @click="refresh" title="拷贝"></icon-btn>
        <icon-btn iid="save" @click="refresh" title="保存"></icon-btn>
        <icon-btn iid="undo" @click="refresh" title="撤销全部"></icon-btn>
        <icon-btn iid="delete" @click="refresh" title="删除"></icon-btn>
        <icon-btn iid="terminal" @click="refresh" title="打开终端"></icon-btn>
      </div>
      <ppz-pagination :count="selectParams.page.count"
        v-model:index="selectParams.page.index"
        v-model:size="selectParams.page.size"
        @change="putData"
        ></ppz-pagination>
    </div>
  </header>
  <div class="table-wrapper">
    <table class="pne">
      <thead>
        <tr>
          <th v-for="field in fields" :title="field.type">{{field.name}}</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="record in records">
          <template v-for="field in fields">
            <td v-if="field.show" :title="field.name + ': ' + field.type">{{record[field.name]}}</td>
          </template>
        </tr>
      </tbody>
    </table>
  </div>
</div>