body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  --padding-h: .88em;
}

header .operations {
  padding: 0 var(--padding-h);

  background: var(--vscode-button-background);
  display: flex;
  justify-content: space-between;
  color: var(--vscode-button-foreground);
}

header .operations .btns > .icon-btn {
  padding: 0 .58em;
  background-color: transparent;
}
header .operations .btns > .icon-btn:not([disabled]):hover {
  background-color: var(--vscode-button-hoverBackground);
}

dialog .body {
  min-height: 13em;
}

dialog.search {
  width: 38em;
}
dialog.search .body {
  padding: 1.8em;
  min-height: 15em;
}
dialog.search .body > .search-item {
  margin-bottom: 1.2em;
}
dialog.search .body > .icon-btn {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.operations dialog.field .body {
  padding: 1.5em .6em .6em 2em;
}
.operations dialog .ppz-checkbox {
  margin-right: 2em;
  margin-bottom: 1em;
}

dialog.sql .body {
  padding: 1em 2em;
  line-height: 2;
  display: flex;
  flex-direction: column;
}
dialog.sql .body p {
  margin: 0;
  flex: 1;
}

.operations .ppz-pagination .icon-btn {
  background-color: transparent;
}
.operations .ppz-pagination .icon-btn:not([disabled]):hover {
  background-color: var(--vscode-button-hoverBackground);
}

.table-wrapper {
  flex: 1;
  overflow: auto;
}