<div id="vue-app" class="flex-container">
  <div class="form-container">
    <div class="forms">
      <div class="public form">
        <label>
          <span>{{l10n.name}}</span>
          <ppz-input v-model="record.name" />
        </label>
        <div class="label">
          <span>{{l10n.connectionType}}</span>
          <radio-group v-model="record.client"
            :list="adapters.map(item => ({ label: item.label, value: item.name }))"></radio-group>
        </div>
        <template v-if="adapter.urlSupport">
          <br>
          <div class="label conn-type">
            <span>{{l10n.connectionMethod}}</span>
            <radio-group v-model="record.useUrl"
              :list="this.list"></radio-group>
            <span>
              <ppz-icon iid="help"></ppz-icon>
              {{l10n.ifNoFleld}}
              <a @click="$refs.useUrl.showModal()">{{l10n.useURL}}</a>
              <dialog class="useUrl" ref="useUrl">
                <div class="modal"></div>
                <div class="close" @click="$refs.useUrl.close()">x</div>
                <ul>
                  <li>
                    <a href="https://github.com/mysqljs/mysql#connection-options">MySQL URL</a>
                  </li>
                  <li>
                    <a href="https://node-postgres.com/features/connecting#connection-uri">PostgreSQL URL</a>
                  </li>
                </ul>
              </dialog>
            </span>
          </div>
        </template>
      </div>
      <div class="private form">
        <template v-if="record.useUrl && adapter.urlSupport">
          <label class="long-txt">
            <span>URL</span>
            <ppz-input v-model="record.url"></ppz-input>
          </label>
        </template>
        <template v-else v-for="f in fields">
          <label v-if="adapter.keys.indexOf(f.key) > -1" :class="{ 'long-txt': f.type=='file' }">
            <span>{{f.key}}</span>
            <file-input v-if="f.type == 'file'" v-model="record[f.key]"></file-input>
            <ppz-input v-else v-model="record[dictionary[f.key]]"></ppz-input>
          </label>
        </template>

      </div>
    </div>
  </div>
  <div class="form-btns">
    <button @click="save(true)">{{l10n.saveAndConnect}}</button>
    <button @click="save()">{{l10n.save}}</button>
  </div>

  <div class="tttips">
    {{l10n.tip}}
  </div>
</div>