@require './base'

Reset()
  display: block
  border: none
  outline: none !important
  background: transparent
  color: inherit
  font-size: inherit
Rect()
  height: $height
  padding: $padding
  border: 1px solid $color_input_border
  Round()

Focus()
  border: 1px solid $color_pri_bg

.basic_input
  Reset()
  Rect()
  &:focus
    Focus()
